<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<footer th:fragment="footer" class="footer mt-auto py-3">
		    <div class="card text-center">
			  <div class="card-header">
			    ¡Llegaste al fin!
			  </div>
			  <div class="card-body">
			    <h5 class="card-title"></h5>
			    <p class="card-text">Llegaste al final de la pagina, haz click abajo para volver.</p>
			    <a href="#" class="btn btn-primary">Ir con Diosito</a>
			  </div>
			  <div class="card-footer text-muted">
			    Programación Visual 2021 - Todos los derechos reservados
			  </div>
			</div>
	 	 </footer>
	</body>
</html>